[2017-02-18 04:42] baimafeima opened #1 "Why not support Brisk menu instead of forking Mint menu?"
https://github.com/solus-project/brisk-menu/releases

[2017-02-18 15:29] ghost opened #2 "menuwin has no attribute mainwin 16.10"
On ubuntu mate 16.10
/usr/lib/ukui-menu/ukui-menu.py"Traceback (most recent call last):   File "/usr/lib/ukui-menu/ukui-menu.py", line 352, in showMenu     self.toggleMenu()   File "/usr/lib/ukui-menu/ukui-menu.py", line 364, in toggleMenu     self.positionMenu()   File "/usr/lib/ukui-menu/ukui-menu.py", line 369, in positionMenu     ourWidth  = self.mainwin.window.get_size()[0] AttributeError: 'M

[2017-02-21 04:50] handsome-feng commented on #2
Hi, bluedxca93, Download the latest version of ukui-menu will run well in ubuntu mate.

[2017-02-21 06:49] handsome-feng commented on #1
My fault, we just noticed this project, it's very good! I guess we can learn from each other, thank you!

[2017-02-21 12:47] cinnamoner commented on #1
@handsome-feng You bet. Brisk is a fine menu. On the other hand, I like the UKUI menu very much (especially the layout). I've spoken to a bunch of people coming over from Windows and they seem to like the UKUI menu a great deal. This is not about Windows though. It just so happens the Windows menus (Vista and 7) are well designed. Perhaps you're aware of StarkMenu. It's fully operational on Cinnam

[2017-02-21 13:09] cinnamoner commented on #1
@handsome-feng Here's the vide capturing the bug https://youtu.be/aRqXfkyYgsE

[2017-02-21 13:18] cinnamoner commented on #1
@handsome-feng I think Chinese people are highly innovative. And for the most part everything is made in China. And of course, Chinese civilization predates western civilization. Bottom line: I like the UKUI menu and the UKUI as a whole. I like the reasoning behind it. So, when do you think UKUI final version will land?

[2017-02-21 13:36] cinnamoner commented on #2
@handsome-feng Oops! I missed this although I know bluedxca93. Wow, so the latest UKUI menu runs on Mate without problems? What about the search bug? Has it been sorted out?
***
I apologize but I've got virtually no experience with Mate. The reason has always been the lack of a good and preferably windowsy startmenu. Seems things are changing. Again, I like UKUI menu better than Brisk. I'm definit

[2017-02-21 19:41] cinnamoner commented on #1
@handsome-feng Okay. What Dave (the guy in the video failed to understand is: this is not Mate. It's a fork of Mate. Actually, it's much better than the original Mate. This is awesome work and I like it. And the UKUI menu is better than Brisk. Might have that bug or might not, I don't yet known. But overall, it's a better menu than Brisk. That's my opinion.

[2017-02-23 10:20] ghost commented on #2
Hi, @handsome-feng I really don't wanna bug you but I think the UKUI startmenu also works on Linux Mint Mate. Am I right?

[2017-02-24 06:11] handsome-feng commented on #2
@cinnamoner Sorry, but there are some problems when running on Linux Mint Mate, It may be related to the gtk version, I will check this whenever I'm free.

[2017-02-24 08:24] ghost commented on #2
@handsome-feng Thanks. Crossed my mind to run it on Mint but I've changed my mind. I will run it on Ubuntu Mate. Or even better, I'll wait for Ubuntu Kylin with the UKUI. Anyways, compatibility with Ubuntu Mate should be preserved. Again, thank you very much 👍

[2017-03-05 17:35] ghost commented on #2
@handsome-feng Just crossed my mind: it would be useful to post an image, illustrating the UKUI menu. It will make even more popular and known.

[2017-03-06 10:02] handsome-feng commented on #2
@cinnamoner  Thank you for your suggestion, I have posted an image for the moment, but it is a litter fuzzy, I will update this later.

[2017-03-06 11:52] ghost commented on #2
@handsome-feng I've seen it, yes. No worries, I understand you're concentrating on development right now.

[2017-03-07 14:33] ghost commented on #2
@handsome-feng no menu on ubuntu  16.10  mate. errors not visible now.

[2017-03-07 14:37] ghost commented on #2
![screenshot](https://cloud.githubusercontent.com/assets/4351663/23661062/63aa36dc-0343-11e7-9be7-2de6d6a7a5ff.png)
Just opened the other menu to show you what works.

[2017-03-08 08:13] handsome-feng commented on #2
@bluedxca93  Sorry, but I don't understand what you mean, I see the ukui-menu on the right of the panel, does it can't open?

[2017-03-08 16:09] ghost commented on #2
👀

[2017-03-08 17:32] ghost commented on #2
@handsome-feng yes. the error warnings are now gone but not opening
while clicking on it.

On 3/8/17, cinnamoner <notifications@github.com> wrote:

[2017-03-08 17:34] ghost commented on #2
maybe its related to the mate version.what is the mate release ukui is based on?

On 3/8/17, Frieder Saugschmerle <bluedxca93@googlemail.com> wrote:

[2017-03-08 18:51] ghost commented on #2
Forked from rather than based on. @bluedxca93 Thanks for putting effort into it. I'm following with interest. I'm interested in the menu but I'm also interested in the whole UKUI.

[2017-03-08 21:06] cinnamoner commented on #2
@bluedxca93 While I was beholdin your screenshot, I recalled something I had seen on Open Desktop. I'm posting the link shortly, but not here.

[2017-03-10 02:12] handsome-feng commented on #2
@bluedxca93: Can you post your /var/log/syslog after you clicked the ukui-menu ?

[2017-04-10 19:33] ghost commented on #2
@handsome-feng I have a Debian stable (Jessie) with inbuilt remastering tool. I wonder whether I could pull in the whole UKUI. It's a nice desktop.

[2017-04-11 09:36] handsome-feng commented on #2
@cinnamoner  The UKUI has not in the Debian archive yet, so you could not pull the whole UKUI through 'apt-get install ukui-desktop-environment'. Plus, we did not test on Jessie, so far the best way to try UKUI is using ubuntu/ubuntukylin/ubuntumate 1704. Thank you!

[2017-04-11 10:57] maclin0211 commented on #2
@cinnamoner  we will try to push UKUI into Debian later.  It may take a long time. There is a lot of work we have to do for that.

[2017-04-12 17:58] ghost commented on #2
@handsome-feng @maclin0211 Thank you guys.

[2017-05-23 14:58] MoorDev opened #3 "Please, Add to Korean Language"
[UKUI-Menu_ko.po.zip](https://github.com/ukui/ukui-menu/files/1022580/UKUI-Menu_ko.po.zip)

Hello, UKUI dev Team.
I am Korean user. So, I translate to po file for Korean. I want to this translation add to source tree. But, I don't know that how to merge.

Please, This translation add to source tree. Thanks.

[2017-05-24 09:33] handsome-feng commented on #3
Hi, @MoorDev Thank you! I have merged this.  :+1:

[2017-05-24 09:33] #3 closed, assigned to nobody

[2017-05-24 22:13] ghost commented on #2
@bluedxca93 You never answered. I'm still very much interested in UKUI menu. And Tilo menu.

[2017-12-29 01:58] runpython opened #6 "My system can't display the ukui-menu menu"
System version: 17.04
erro:
Dec 29 09:24:16 run24pro-ThinkPad-X230 org.mate.panel.applet.UkuiMenuAppletFactory[1152]:   File "/usr/lib/ukui-menu/ukui-menu.py", line 47
I can't find the help of the problem. Thank you.

[2017-12-29 02:33] penghuanmail commented on #6
Please show me your /var/log/syslog output , the code of line 47 is "except Exception, e:", which python version you use?

[2017-12-29 02:44] runpython commented on #6
Yes, I'm using python3.5
syslog:
Dec 29 10:23:40 run24pro-ThinkPad-X230 dbus-daemon[1153]: Activating service name='org.mate.panel.applet.UkuiMenuAppletFactory'
Dec 29 10:23:40 run24pro-ThinkPad-X230 org.mate.panel.applet.UkuiMenuAppletFactory[1153]:   File "/usr/lib/ukui-menu/ukui-menu.py", line 47
Dec 29 10:23:40 run24pro-ThinkPad-X230 org.mate.panel.applet.UkuiMenuAppletFactory[1153]:     excep

[2017-12-29 03:00] penghuanmail commented on #6
Now ukui-menu can only support python2, we will port to python3 in 18.04

[2017-12-29 05:21] runpython commented on #6
thanks penghuanmail
What do I have to do now？Delete python3？

[2017-12-29 05:44] penghuanmail commented on #6
do you have python2 in your system?

[2017-12-29 05:46] runpython commented on #6
yes

[2017-12-29 05:48] penghuanmail commented on #6
try to install python-minimal

[2017-12-29 06:20] runpython commented on #6
thanks!penghuanmail.

[2018-02-12 06:21] wi24rd opened #7 "快速搜索"
想要快速启动想要的应用，也就是按下 super 键后输入文字的同时菜单里能及时匹配文本框文字的应用。然而通常使用过一次之后，再次按下 super 键并不能像上次一样进行搜索，此时输入文字没有反应。需要再次按下 super 键将菜单关闭再按下 super 键重新打开菜单才能继续搜索。不知道是刻意如此设计还是程序本身存在问题？希望能修复。
环境为 Ubuntu Kylin 17.10 x86_64。主题、字体、窗口管理器等都没有更改。

[2018-02-13 01:05] handsome-feng commented on #7
感谢你的反馈, 这个问题我们会尽快修复(不过应该在年后了 :) )

[2018-02-13 02:18] handsome-feng commented on #7
你好, 问题已修复, 不过由于现在github上的代码是基于python3的了, 你不能直接将现在的项目编译安装,在17.10上你可以使用我的patch来立即修复:
补丁下载地址:
https://pan.baidu.com/s/1nw4ozhB
使用方法:
sudo patch /usr/lib/python2.7/dist-packages/ukui_menu/plugins/menu.py fix_focus.patch

[2018-02-13 02:18] #7 closed, assigned to nobody

[2018-02-13 02:48] #6 closed, assigned to nobody

[2018-03-25 08:46] MoorDev opened #8 "Updated Korean Translation"
[ko.po.zip](https://github.com/ukui/ukui-menu/files/1845139/ko.po.zip)
Hello, Dear.

I had translated korean at 1year ago.

So, I updated translation for current version in here.
Please update this file.

[2018-05-16 08:58] handsome-feng commented on #8
@MoorDev  Sorry for the delay, and thanks for your contribution！

[2018-05-16 08:58] #8 closed, assigned to nobody

[2019-01-01 02:02] rocket049 opened #10 "why not display all categories?"
#why not display all categories?
it only display three categories.
I can not understand it means what.

[2019-01-02 01:16] handsome-feng commented on #10
You can right click the start menu, and choose "Category Menu"

[2019-10-30 07:58] #10 closed, assigned to nobody

[2020-02-11 02:36] liumin0322 opened #13 "Cannot open vim in start menu"
系统中未安装vim包，但开始菜单中存在vim程序，且无法打开

The vim package is not installed in the system, but the vim program exists in the start menu and cannot be opened

[2020-02-11 02:38] liumin0322 opened #14 "Program crashes after clicking on username"
开始菜单全屏模式下，点击用户名，开始菜单崩溃，且无法再打开

Start menu in full screen mode, click on the user name, the start menu crashes and can no longer be opened

[2020-02-11 02:42] liumin0322 opened #15 "Right click on start menu does not work"
开始菜单右键点击无效

Right click on start menu does not work

[2020-02-11 02:49] liumin0322 opened #16 "Functional classification is incorrect"
开始菜单中，“微信Ubuntu版”同时存在网络和图像两个分类下

In the start menu, "WeChat Ubuntu version" exists in both network and image categories

[2020-02-11 02:50] liumin0322 opened #17 ""Add to desktop shortcut" feature does not work"
开始菜单中，右键选择“添加到桌面快捷方式”，无效

In the start menu, right click and select "Add to desktop shortcut", it has no effect

[2020-02-11 02:53] liumin0322 opened #18 "[Suggestion] The corresponding initial letter list can be selected through the keyboard"
建议：在开始菜单中，可通过键盘选择相应首字母列表

Suggestion: In the start menu, you can select the corresponding initial letter list by keyboard

[2020-02-11 02:54] liumin0322 opened #19 "[Suggestion] Select search results by up and down keys"
建议：在开始菜单中，可通过上下键选择搜索结果

Suggestion: In the start menu, you can select search results with the up and down keys

[2020-02-12 04:30] moshengrenzenme commented on #15
是不是偶发性问题，我的右键点击可以用，但是没有测试注销，重启和关机，可以直接锁屏和切换用户

[2020-02-12 04:57] moshengrenzenme opened #20 "锁屏之后开始菜单依旧是高亮"
从开始菜单调用锁屏或者切换用户输入密码登录后开始菜单依旧处于高亮状态

[2020-02-12 05:00] moshengrenzenme opened #21 "在开始菜单右键之后选择属性没有响应"
打开开始菜单之后在一个项目上右键，选择属性没有响应，不会弹出来对应的弹窗

[2020-02-12 06:25] moshengrenzenme opened #22 "开始菜单的控制面板快捷方式不能使用"
开始菜单的控制面板快捷方式不能使用，打不开控制面板，单独开启是可以的

[2020-02-14 09:55] moshengrenzenme opened #23 "开始菜单点击用户显示的控制面板"

[2020-02-15 06:09] #15 closed, assigned to nobody

[2020-02-15 06:09] liumin0322 commented on #15
已修复

[2020-02-15 06:12] liumin0322 opened #24 "开始菜单中，左击“我的电脑”和“设置”，无响应"
Left-click on My Computer and Settings in the Start menu are unresponsive

[2020-02-15 06:13] liumin0322 commented on #23
左击“用户头像”图标，弹出控制面板窗口
Control panel window pops up after left-clicking the "user avatar" icon

[2020-02-15 06:16] liumin0322 opened #25 "右击“我的电脑”和“设置”图标，选择“固定到任务栏”，弹出Drop Error报错提示"
Right-click the "My Computer" and "Settings" icons and select "Pin to Taskbar", a Drop Error error message pops up

[2020-02-15 06:17] liumin0322 opened #26 "开始菜单中，存在一个“UKUI桌面”程序，点击无响应"
There is a "UKUI Desktop" program in the start menu. Clicking No Response

[2020-02-15 06:18] liumin0322 opened #27 "开始菜单中，存在“Python 3.8”，点击无响应"
"Python 3.8" exists in the start menu, but clicks are not responding

[2020-02-15 06:20] liumin0322 opened #28 "点击“电源”-“切换用户”，会弹出两次锁屏界面"
Click "Power"-"Switch User", the lock screen will pop up twice

[2020-02-15 06:21] liumin0322 opened #29 "打开开始菜单后，点击任务栏，开始菜单不会消失"
After opening the start menu, click on the taskbar, the start menu will not disappear

[2020-02-15 06:22] liumin0322 opened #30 "在开始菜单中，点击”磁盘“程序，系统卡死"
In the Start menu, click on the "Disk" program and the system crashes

[2020-02-15 06:23] liumin0322 opened #31 "在开始菜单中，点击”打印机“程序，系统卡死"
In the Start menu, click on the "Printer" program, the system crashes

[2020-02-17 07:11] liumin0322 opened #32 "将选中的软件添加到桌面快捷方式，其桌面快捷方式无名称和图标"
Add selected software to desktop shortcut, the name and icon of desktop shortcut are abnormal

[2020-02-19 07:59] dou-y opened #33 "can't find Software and Update"
In the menu, I can't find Software and Update which can be used to change update option.
<img width="915" alt="图片" src="https://user-images.githubusercontent.com/59866026/74813226-f9ef4f80-532f-11ea-893e-728f7a43b82c.png">
This is been installed already. In fact if I enter `software-properties-gtk` in termitor, this can be display.
<img width="1163" alt="图片" src="https://user-images.githubusercont

[2020-02-24 06:25] liumin0322 commented on #14
已修复

[2020-02-24 06:25] #14 closed, assigned to nobody

[2020-02-26 13:24] CrossCC commented on #31
补充说明：
先打开top查看进程，点击”打印机“之后发现打印机进程占用CPU达到100%，过一会之后，出现打印机界面，CPU占用率降低。点击打印机界面任意按钮，又卡死，之后闪退。

[2020-02-26 13:35] moshengrenzenme commented on #31
补充说明，这是上游的软件bug，不是这个组件的问题

[2020-02-27 07:12] liumin0322 opened #34 "Many applications have desktop files under / usr / share / applications, but they are not displayed in the start menu"
许多应用在/usr/share/applications下存在desktop文件，但是开始菜单中未显示

测试步骤：
1、打开开始菜单，发现无软件更新器、xterm等应用
2、进入/usr/share/applications下，可查看到缺失应用有desktop文件

[2020-02-29 09:07] liuhao-startmenu commented on #32
需要桌面提供实时刷新机制，麻烦兰悦看一下

[2020-02-29 09:08] liuhao-startmenu commented on #29
设计如此

[2020-03-01 01:39] Yue-Lan commented on #32
我接管这个issue，请将这个issue transfer到peony项目

[2020-03-01 04:02] Yue-Lan commented on #32
resolved by commit [ce05a97cc2b13863089d04e675f23f0ad643758f](https://github.com/ukui/peony/commit/ce05a97cc2b13863089d04e675f23f0ad643758f) in peony.

[2020-03-02 11:59] #34 closed, assigned to nobody

[2020-03-02 12:01] liumin0322 commented on #29
windows也如此

[2020-03-02 12:01] #29 closed, assigned to nobody

[2020-03-03 02:47] liuhao-startmenu commented on #24
1.“我的电脑”启动命令被修改导致点击无响应；
2.  控制面板没有提供.desktop文件，导致点击“设置”无响应。

[2020-03-03 02:53] liuhao-startmenu commented on #23
设计逻辑是跳转到控制面板用户设置界面，需要贺冰协助解决。

[2020-03-03 02:54] liuhao-startmenu commented on #22
控制面板没有提供.desktop文件，需要贺冰协助解决。

[2020-03-03 02:58] liuhao-startmenu commented on #21
设计思路是调用文件管理器属性功能，需要兰悦协助解决。

[2020-03-03 03:48] liuhao-startmenu commented on #30
需要“磁盘”开发人员协助解决

[2020-03-03 06:12] liumin0322 commented on #24
20200302版本测试通过

[2020-03-03 06:12] #24 closed, assigned to nobody

[2020-03-03 06:13] liumin0322 commented on #28
20200302版本测试通过

[2020-03-03 06:13] #28 closed, assigned to nobody

[2020-03-03 08:15] liumin0322 opened #35 "System Monitor setting "Pin to Taskbar", no response"
系统监视器设置“固定至任务栏”，无响应

测试步骤：
1、开始菜单中，选择系统监视器
2、右键选择“固定至任务栏”，无响应

[2020-03-03 08:32] liumin0322 opened #36 "Open start menu without pinning"
开始菜单打开后，显示在控制面板之后

测试步骤：
1、打开控制面板，最小化后点开在桌面
2、点击开始菜单，展开后显示在控制面板之后

[2020-03-05 17:52] moshengrenzenme opened #37 "偶发性的窗口被遮住了（不确定是偶发还是必然，我能百分百触发）"
![IMG_20200306_013838](https://user-images.githubusercontent.com/33083187/76009788-beb66880-5f4c-11ea-8746-d08ae0204302.jpg)
我打开火狐之后，把火狐全屏，然后恢复窗口，这个时候如果点击开始菜单，开始菜单会被恢复之后的火狐遮住，我这里是百分百复现

[2020-03-07 11:09] liumin0322 commented on #30
20200302版本测试通过

[2020-03-07 11:09] #30 closed, assigned to nobody

[2020-03-07 11:14] xiaodongliu-nudt commented on #21
@Yue-Lan 协助看下这个问题

[2020-03-07 11:28] xiaodongliu-nudt commented on #17
@liuhao-startmenu 当前麒麟助手 右键选择“添加到桌面快捷方式”时，桌面图标不正确

[2020-03-07 14:52] Yue-Lan commented on #21
如果想打开peony的属性界面，可以通过peony实现的org.freedesktop.FileManager1 dbus服务的showProerties接口，或者查看peony的man手册，通过命令行调用打开对应窗口。

我不推荐通过文件管理器查看应用属性，因为应用属性只是一个desktop文件而已。除非你愿意为文件管理器写一个应用属性页面的插件，否则你得不到想要的结果。

[2020-03-08 02:46] smiley286 commented on #22
the file ukui-control-center.desktop had already provided

[2020-03-10 02:13] xiaodongliu-nudt commented on #21
@liuhao-startmenu 开始菜单中右键-》属性跟桌面相应快捷方式右键-》属性是同样效果吗？

[2020-03-10 02:22] xiaodongliu-nudt opened #38 "点击开始菜单之后，默认的输入焦点应该在搜索框。"
Version：2.0.1-2~202003081602
目前需要点一下搜索框才能输入。

[2020-03-10 08:32] liumin0322 commented on #37
20200309版本测试通过

[2020-03-10 08:32] #37 closed, assigned to liuhao-startmenu

[2020-03-10 08:33] liumin0322 commented on #36
20200309版本测试通过

[2020-03-10 08:33] #36 closed, assigned to nobody

[2020-03-10 08:35] liumin0322 commented on #25
右键点击“我的电脑”，选择“固定到任务栏”，弹出Drop Error报错

[2020-03-10 08:40] liumin0322 commented on #20
20200309版本测试通过

[2020-03-10 08:42] liumin0322 commented on #22
20200309版本测试通过

[2020-03-10 08:42] #22 closed, assigned to smiley286

[2020-03-10 08:44] liumin0322 commented on #31
20200309版本测试通过

[2020-03-10 08:44] #31 closed, assigned to nobody

[2020-03-10 08:44] liumin0322 commented on #26
20200309版本测试通过

[2020-03-10 08:44] #26 closed, assigned to nobody

[2020-03-10 08:45] #2 closed, assigned to nobody

[2020-03-10 08:46] #1 closed, assigned to nobody

[2020-03-10 08:46] #20 closed, assigned to liuhao-startmenu

[2020-03-11 03:13] liumin0322 opened #39 "双屏模式下，点击开始菜单，显示不完全"
版本: 20.04LTS
iso：ubuntukylin-ukui3.0-20200309-amd64.iso
测试环境：联想笔记本-X240

测试步骤：
1、笔记本外接显示器后，重启机器
2、点击开始菜单

预期结果：显示正常

实际结果：因两个显示器尺寸不一致，导致开始菜单显示不完全
![2020-03-11 11-04-28屏幕截图](https://user-images.githubusercontent.com/48200161/76378750-36d7c080-6389-11ea-96a3-7973142751d5.png)

[2020-03-11 13:15] liuhao-startmenu commented on #38
已修复

[2020-03-12 03:13] liumin0322 opened #40 "全屏模式下关闭，再次打开仍为全屏"
版本: 20.04LTS
iso：ubuntukylin-ukui3.0-20200309-amd64.iso
测试环境：联想笔记本-X240

测试步骤：
1、打开开始菜单，点击全屏按钮
2、滑动至应用底部
3、点击2次开始菜单按钮，关闭并再次打开开始菜单

预期结果：显示为左下角默认态

实际结果：显示为全屏模式，且应用快速滑动至顶部

[2020-03-14 03:15] Liang-zy commented on #38
20200313版本测试通过 。

[2020-03-14 06:47] #38 closed, assigned to liuhao-startmenu

[2020-03-14 12:36] liumin0322 opened #41 "开始菜单空白处右键后，弹出异常右键菜单，导致开始菜单崩溃"
版本: 20.04LTS
iso：ubuntukylin-ukui3.0-20200314-amd64.iso
测试环境：联想笔记本-X240

测试步骤：
1、在开始菜单空白处，右键点击，弹出异常菜单
2、左键点击后，异常菜单消失
3、在桌面右键点击，出现异常右键菜单
4、再次右键点击，桌面右键正常
5、点击开始菜单

预期结果：正常

实际结果：第5步开始菜单无响应

[2020-03-14 17:25] moshengrenzenme opened #42 "panel在左边时在menu上右键，弹出菜单依旧在左下角"
panel在左边时在menu上右键，弹出菜单依旧在左下角，且如果panel的尺寸设置成大尺寸，弹出菜单会遮住一部分panel
![2020-03-15 01-22-56屏幕截图](https://user-images.githubusercontent.com/33083187/76687115-d8963080-665b-11ea-8670-cf42e0b181ee.png)
![Uploading 2020-03-15 01-24-38屏幕截图.png…]()

[2020-03-14 17:40] moshengrenzenme opened #43 "在menu上右键点击以后，在其他的位置左键点击后，menu依旧高亮"
在menu上右键点击以后，在其他的位置左键点击后，让弹出菜单消失，menu依旧高亮，而且右键调出了panel的菜单，menu也还是高亮
![2020-03-15 01-39-33屏幕截图](https://user-images.githubusercontent.com/33083187/76687332-dcc34d80-665d-11ea-8ef3-28c77c44f3f1.png)

[2020-03-16 03:44] liumin0322 opened #44 "注销后登录，需点击2次后打开"
版本: 20.04LTS
iso：ubuntukylin-ukui3.0-20200314-amd64.iso
测试环境：联想笔记本-X240

测试步骤：
1、注销后登录
2、点击任务栏中开始菜单图标

预期结果：点击一次，即可成功弹出开始菜单

实际结果：需点击2次后打开

[2020-03-16 03:45] xiaodongliu-nudt commented on #43
目前开始菜单在显示之后，貌似只能通过点按钮才能消失，左键单击屏幕其他位置好像不能消失，这个设计不合理。

[2020-03-16 09:12] xiaodongliu-nudt commented on #40
按照设计，系统初始默认是半屏状态。同时可在控制面板里进行设置，设为全屏，以后每次都是全屏。

[2020-03-16 09:13] xiaodongliu-nudt commented on #18
Useful suggestion

[2020-03-16 09:13] xiaodongliu-nudt commented on #19
Useful suggestion

[2020-03-16 11:45] liuhao-startmenu commented on #42
任务栏负责

[2020-03-16 11:48] liuhao-startmenu commented on #43
任务栏屏蔽鼠标右键之后出现的问题，需要联调

[2020-03-16 11:50] liuhao-startmenu commented on #41
任务栏屏蔽鼠标右键后出现的问题，需要联调

[2020-03-16 11:55] liuhao-startmenu commented on #19
应用列表不支持选择态，只有悬浮态。

[2020-03-16 11:58] liuhao-startmenu commented on #25
需要我的电脑和设置提供.desktop文件

[2020-03-16 12:01] liuhao-startmenu commented on #17
需要和桌面联调

[2020-03-16 12:05] xiaodongliu-nudt commented on #43
@hepuyao 一起看下这个问题

[2020-03-16 12:12] xiaodongliu-nudt commented on #41
@hepuyao 一起看下问题

[2020-03-16 13:05] liumin0322 opened #45 "开始菜单中搜索框，无法输入中文"

[2020-03-16 13:07] liumin0322 opened #46 "【建议】常用软件，可以通过用户使用频率自动添加应用，而不一定需要手动添加"

[2020-03-16 13:12] liumin0322 opened #47 "任务栏设置在左、右侧时，开始菜单全屏模式显示异常"
![2020-03-16 21-11-50屏幕截图](https://user-images.githubusercontent.com/48200161/76761654-c8e92a00-67ca-11ea-983f-600dcd7af045.png)

[2020-03-16 13:13] liumin0322 commented on #47
![2020-03-16 21-13-30屏幕截图](https://user-images.githubusercontent.com/48200161/76761797-06e64e00-67cb-11ea-8b37-71ebc8f74c62.png)

[2020-03-18 03:45] liumin0322 opened #48 "打开开始菜单后，在桌面右键刷新，开始菜单不会消失"

[2020-03-18 13:12] 1216338727aa opened #49 "双屏显示，更换主屏，发现开始菜单不会跟随主屏"
版本：20.04LTS
iso：ubuntukylin-ukui3.0-20200313-amd64.iso
测试环境：联想启天M415-N000台式机
测试步骤：
1.双屏显示
2.控制面板-显示器-设置主屏

预期结果：设置主屏成功后，点击开始菜单应该在主屏显示
实际结果：开始菜单没有跟随主屏，点击开始菜单，开始菜单在另一个屏幕打开。

[2020-03-19 11:02] liumin0322 opened #50 "开机后，首次打开开始菜单，点击桌面，开始菜单不会收起"

[2020-03-19 12:48] liumin0322 opened #51 "打开开始菜单-点击电源，再点击开始菜单，开始菜单-收回，电源弹出菜单没有收回"

[2020-03-19 12:56] xiaodongliu-nudt commented on #50
开始菜单概率性无法收起，而且貌似是一次能收起，一次不能收起，轮流。

[2020-03-19 13:02] xiaodongliu-nudt commented on #51
而且当开始菜单收回但电源菜单未收回时，再次点击开始菜单，开始菜单会无法弹出。
貌似该问题同issue #50 有关联，当发生issue #50 时，大概率会出现本issue。

[2020-03-19 13:10] Liang-zy opened #52 "建议键盘win键可以打开开始菜单"

[2020-03-20 02:28] zpsolitude opened #65 "开始菜单，右上角时间图标，常用软件中一直无记录"
开始菜单，右上角时间图标，常用软件中一直无记录

[2020-03-20 02:32] zpsolitude opened #64 "开始菜单，选择python，无响应"
开始菜单，选择python，无响应

[2020-03-20 03:55] liumin0322 opened #53 "开始菜单中，“运行软件”应用点击无响应"

[2020-03-20 03:56] liumin0322 opened #54 "开始菜单中，存在书签编辑器"
建议删除或隐藏

[2020-03-20 03:57] liumin0322 opened #55 "开始菜单中应用名称，未按要求修改"

[2020-03-20 05:48] chz0708 opened #63 "开始菜单，选择vim，无响应"

[2020-03-20 06:05] chz0708 opened #62 "开始菜单，点击开始菜单右侧栏中用户图标，进入的是设置界面"

[2020-03-20 06:06] chz0708 opened #61 "开始菜单，点击关机，没有待机或者休眠选项"

[2020-03-20 07:16] liumin0322 opened #56 "开始菜单中存在回收站"

[2020-03-20 07:17] #53 closed, assigned to nobody

[2020-03-20 07:20] liumin0322 opened #57 "卸载软件后，通过搜索栏，可以搜索到一个文件名为空、图标为默认的应用"

[2020-03-20 07:25] liumin0322 opened #58 "在搜索框中输入内容后，点击其他区域，搜索框不会置空"
版本: 20.04LTS
iso：ubuntukylin-ukui3.0-20200314-amd64.iso
测试环境：联想笔记本-X240

测试步骤：
1、打开开始菜单，在搜索框中输入wo
2、点击开始菜单的空白区域，或常用软件、字母分类、应用分类

预期结果：搜索框恢复默认

实际结果：搜索框中输入内容变为黑色，不会消失

[2020-03-20 11:51] liumin0322 opened #59 "开始菜单输入框持续抢焦点"
版本: 20.04LTS
iso：ubuntukylin-ukui3.0-20200314-amd64.iso
测试环境：联想笔记本-X240

测试步骤：
1、打开开始菜单
2、点击桌面已打开的终端窗口，进行输入

预期结果：可成功输入

实际结果：输入内容均显示在开始菜单搜索框中

[2020-03-20 12:13] xiaodongliu-nudt commented on #49
貌似控制面板主屏设置未生效，先转到控制面板。

[2020-03-20 12:17] xiaodongliu-nudt commented on #52
功能缺项，建议win键默认打开开始菜单全屏状态。

[2020-03-20 12:18] liumin0322 opened #60 "【双屏模式】开始菜单全屏模式显示异常"

[2020-03-20 12:18] liumin0322 commented on #60
![2020-03-20 20-17-17屏幕截图](https://user-images.githubusercontent.com/48200161/77162913-fe05bd00-6ae7-11ea-9816-0fedb67d468c.png)

[2020-03-20 12:24] moshengrenzenme commented on #60
双屏模式建议开发者让menu只显示在主屏幕上，不要放大到双屏

[2020-03-20 13:22] xiaodongliu-nudt commented on #63
Duplicate of #13

[2020-03-20 13:22] #63 closed, assigned to nobody

[2020-03-20 13:24] xiaodongliu-nudt commented on #64
Duplicate of #27

[2020-03-20 13:24] #64 closed, assigned to nobody

[2020-03-20 13:27] xiaodongliu-nudt commented on #62
Duplicate of #23

[2020-03-20 13:27] #62 closed, assigned to nobody

[2020-03-20 13:35] xiaodongliu-nudt commented on #65
同issue #46 类似。

[2020-03-20 13:35] #65 closed, assigned to nobody

[2020-03-21 02:16] xiaodongliu-nudt commented on #44
20200320版本测试未通过

[2020-03-21 02:18] xiaodongliu-nudt commented on #40
20200320版本通过

[2020-03-21 02:18] #40 closed, assigned to liuhao-startmenu

[2020-03-21 02:19] xiaodongliu-nudt commented on #33
20200320版本通过

[2020-03-21 02:19] #33 closed, assigned to nobody

[2020-03-21 11:53] liumin0322 commented on #50
20200321版本，每次打开开始菜单，点击桌面均无法收回

[2020-03-23 12:29] Liang-zy opened #67 "右键点击开始菜单-显示不全"
版本：20.04LTS
iso：ubuntukylin-ukui3.0-20200320-amd64.iso
测试环境：联想启天M415-N000台式机
测试步骤：
1.系统语言为英语
2.桌面鼠标单击开始菜单

预期结果：电源信息显示正常
实际结果：电源信息显示不全

[2020-03-23 12:30] Liang-zy opened #68 "鼠标右键点击开始菜单-关闭计算机显示不全"
版本：20.04LTS
iso：ubuntukylin-ukui3.0-20200320-amd64.iso
测试环境：联想启天M415-N000台式机
测试步骤：
1.系统语言为中文
2.桌面右键点击开始菜单

预期结果： 电源信息显示正常
实际结果：关闭计算机显示不全

[2020-03-25 08:20] liuhao-startmenu commented on #67
何朴尧负责处理

[2020-03-25 08:23] liuhao-startmenu commented on #58
设计如此

[2020-03-26 01:21] xiaodongliu-nudt commented on #67
@hepuyao 关注一下这个问题

[2020-03-26 01:23] xiaodongliu-nudt commented on #68
Duplicate of #67

[2020-03-26 03:26] liuhao-startmenu commented on #45
未复现

[2020-03-26 08:30] liuhao-startmenu commented on #55
建议修改软件源码所提供的.desktop文件

[2020-03-26 08:33] liuhao-startmenu commented on #52
需要何朴尧提供支持

[2020-03-28 03:26] liumin0322 commented on #60
20200328版本测试通过。

[2020-03-28 03:26] #60 closed, assigned to liuhao-startmenu

[2020-03-28 03:32] liumin0322 commented on #44
20200328版本测试通过。

[2020-03-28 03:32] #44 closed, assigned to liuhao-startmenu

[2020-03-28 03:34] xiaodongliu-nudt commented on #52
@hepuyao 帮忙看下如何实现

[2020-03-28 03:55] xiaodongliu-nudt commented on #13
invalid in version 20200327

[2020-03-28 09:44] liumin0322 opened #69 "在开始菜单空白处右键勾选后，开始菜单显示异常"

[2020-03-28 09:45] liumin0322 commented on #69
![2020-03-28 17-43-23屏幕截图](https://user-images.githubusercontent.com/48200161/77820260-e946ac00-711b-11ea-9b77-a5303ccf74ee.png)

[2020-03-28 09:52] liumin0322 opened #70 "开始菜单全屏模式下，拖动应用后，会复制多个，且可随意摆放位置"

[2020-03-28 09:52] liumin0322 commented on #70
![2020-03-28 17-50-49屏幕截图](https://user-images.githubusercontent.com/48200161/77820391-ec8e6780-711c-11ea-8a89-7f5e532f291e.png)

[2020-03-28 09:57] liumin0322 opened #71 "全屏模式-功能分类，remmina默认存在网络和系统两个分类下"

[2020-03-28 09:57] liumin0322 opened #72 "搜索框右键，未汉化"

[2020-03-30 03:23] #68 closed, assigned to hepuyao, liuhao-startmenu

[2020-03-30 03:27] xiaodongliu-nudt commented on #50
20200327版本，概率性无法收回。

[2020-03-30 03:36] xiaodongliu-nudt commented on #25
@liuhao-startmenu
我的电脑：peony-computer.desktop
设置：ukui-control-center.desktop

[2020-03-30 13:17] liumin0322 opened #73 "开始菜单中的tooltips背景为透明"
![2020-03-30 21-16-49屏幕截图](https://user-images.githubusercontent.com/48200161/77916576-da066080-72cb-11ea-8ea8-20319020a22f.png)

[2020-03-30 13:19] liumin0322 opened #74 "开始菜单中的应用，无tooltips描述信息"

[2020-04-02 10:03] liumin0322 opened #75 "字母分类中，Q显示为O"
![2020-04-02 18-01-01屏幕截图](https://user-images.githubusercontent.com/48200161/78236137-2fc94b80-750c-11ea-91df-677619298ddf.png)

[2020-04-02 13:07] liuhao-startmenu commented on #27
过滤掉Python 3.8

[2020-04-02 13:13] liuhao-startmenu commented on #71
根据应用.desktop中的关键字Categories，应用可存在于多个分类中

[2020-04-03 08:34] liumin0322 opened #76 "【国际化】电源中首字母均应大写，另部分翻译不正确"
注销应为Logout

![Screenshot from 2020-04-03 16-28-59](https://user-images.githubusercontent.com/48200161/78340366-90b65980-75c8-11ea-838c-5c1b4e07f301.png)

[2020-04-04 04:34] sunshine-lcc opened #77 "开始菜单不能自动收回"
打开开始菜单后，点击除桌面图标外的桌面区域，开始菜单不能自动收回

[2020-04-04 05:31] xiaodongliu-nudt commented on #77
同已知bug #50 重复

[2020-04-04 05:31] #77 closed, assigned to liuhao-startmenu

[2020-04-04 06:16] liumin0322 commented on #75
20200402-beta版本测试通过。

[2020-04-04 06:16] #75 closed, assigned to nobody

[2020-04-04 06:17] liumin0322 commented on #69
20200402-beta版本测试通过。

[2020-04-04 06:17] #69 closed, assigned to liuhao-startmenu

[2020-04-04 06:18] liumin0322 commented on #56
20200402-beta版本测试通过。

[2020-04-04 06:18] #56 closed, assigned to liuhao-startmenu

[2020-04-04 06:19] liumin0322 commented on #47
20200402-beta版本测试通过。

[2020-04-04 06:19] #47 closed, assigned to liuhao-startmenu

[2020-04-04 06:19] liumin0322 commented on #27
20200402-beta版本测试通过。

[2020-04-04 06:19] #27 closed, assigned to liuhao-startmenu

[2020-04-04 06:28] liumin0322 commented on #39
20200402-beta版本测试通过。

[2020-04-04 06:28] #39 closed, assigned to liuhao-startmenu

[2020-04-04 06:29] liumin0322 commented on #41
20200402-beta版本测试通过。

[2020-04-04 06:29] #41 closed, assigned to hepuyao, liuhao-startmenu

[2020-04-04 09:49] liumin0322 opened #78 "【双屏扩展】主屏在右，扩展屏在左的情况下，开始菜单显示位置异常"
![2020-04-04 17-31-17屏幕截图](https://user-images.githubusercontent.com/48200161/78423919-5ae2a500-769c-11ea-907e-5d7fae673b2c.png)

[2020-04-04 11:53] liumin0322 opened #79 "【双屏扩展】扩展屏在上，主屏在下的情况下，开始菜单显示位置异常"
![2020-04-04 19-50-13屏幕截图](https://user-images.githubusercontent.com/48200161/78449973-d13bd300-76ad-11ea-8a2b-4c84337bb9d6.png)

[2020-04-07 08:38] liuhao-startmenu commented on #74
通过右键菜单属性查看

[2020-04-07 08:41] liuhao-startmenu commented on #76
参照win10电源右键菜单设计

[2020-04-07 08:45] liuhao-startmenu commented on #72
搜索框已屏蔽右键菜单功能

[2020-04-08 01:46] xiaodongliu-nudt commented on #71
Make sense, closed

[2020-04-08 01:46] #71 closed, assigned to liuhao-startmenu

[2020-04-08 01:49] xiaodongliu-nudt commented on #54
由刘亮负责解决

[2020-04-08 01:49] #54 closed, assigned to liuhao-startmenu

[2020-04-08 06:55] liumin0322 opened #80 "[Full Screen] The font on the right is very small."
![2020-04-08 14-53-52屏幕截图](https://user-images.githubusercontent.com/48200161/78753789-05aed800-79a9-11ea-8323-3d9d9fc43615.png)

[2020-04-09 13:15] Yue-Lan commented on #80
Translating: [Full Screen] The font on the right is very small.

[2020-04-09 13:16] Yue-Lan commented on #79
Translating: [Dual screen expansion] When the expansion screen is on and the main screen is down, the start menu display position is abnormal.

[2020-04-09 13:21] Yue-Lan commented on #78
Translating: [Dual screen expansion] When the expansion screen is on and the main screen is down, the start menu display position is abnormal.

[2020-04-09 13:23] Yue-Lan commented on #76
Translating: [Internationalization] The first letter of the power supply should be capitalized, and the other part is incorrectly translated.

[2020-04-09 13:24] Yue-Lan commented on #74
Translating: The application in the start menu, no tooltips description information.

[2020-04-11 08:24] Liang-zy commented on #72
The 20200410 version passed the test

[2020-04-11 08:25] Liang-zy commented on #70
The 20200410 version passed the test

[2020-04-11 08:26] Liang-zy commented on #25
The 20200410 version passed the test

[2020-04-11 08:27] Liang-zy commented on #23
The 20200410 version passed the test

[2020-04-12 06:44] #23 closed, assigned to smiley286

[2020-04-12 06:44] #25 closed, assigned to nobody

[2020-04-12 06:45] #70 closed, assigned to liuhao-startmenu

[2020-04-12 06:45] #72 closed, assigned to liuhao-startmenu

[2020-04-13 06:05] Liang-zy opened #81 "ukui-menu UKUI-Kwin won't open"
Version: 20.04LTS
Iso: ubuntukylin-ukui3.0-20200410-amd64.iso
Test environment: Lenovo Qitian M415-N000 desktop
Test steps:
1. Start Menu-Click on UKUI-Kwin
2.
Expected result: can be opened
Actual result: no response

[2020-04-13 13:05] liumin0322 opened #82 "Right-click "My Computer" and "Settings", click "Set Start Menu Display List" No response"

[2020-04-14 03:27] xiaodongliu-nudt commented on #81
The UKUI-Kwin icon should not appear in the menu. @liuhao-startmenu

[2020-04-15 03:25] liumin0322 opened #83 "There is a clear black border in the overlapping area of the window"
![2020-04-15 11-20-44屏幕截图](https://user-images.githubusercontent.com/48200161/79295631-b9651a00-7f0b-11ea-9926-822461fcd57c.png)

[2020-04-18 06:16] liumin0322 commented on #46
Tested pass in the 20200418 version

[2020-04-18 06:16] #46 closed, assigned to liuhao-startmenu

[2020-04-18 06:18] liumin0322 commented on #50
Tested pass in the 20200418 version

[2020-04-18 06:18] #50 closed, assigned to liuhao-startmenu

[2020-04-18 06:19] liumin0322 commented on #43
Tested fail in the 20200418 version

[2020-04-18 06:20] liumin0322 commented on #51
Tested pass in the 20200418 version

[2020-04-18 06:20] #51 closed, assigned to liuhao-startmenu

[2020-04-18 06:22] liumin0322 commented on #67
Tested pass in the 20200418 version

[2020-04-18 06:22] #67 closed, assigned to hepuyao

[2020-04-18 06:50] liumin0322 commented on #48
test passed in the 20200418

[2020-04-18 06:50] #48 closed, assigned to liuhao-startmenu

[2020-04-18 06:51] liumin0322 commented on #80
test passed in the 20200418

[2020-04-18 06:51] #80 closed, assigned to liuhao-startmenu

[2020-04-18 06:52] liumin0322 commented on #59
test passed in the 20200418

[2020-04-18 06:52] #59 closed, assigned to liuhao-startmenu

[2020-04-18 06:58] liumin0322 commented on #79
test failed in the 20200418

[2020-04-18 07:01] liumin0322 commented on #78
test passed in the 20200418

[2020-04-18 07:01] #78 closed, assigned to nobody

[2020-04-21 09:36] handsome-feng opened #84 "The first application in the list should be selected by default"
The first application in the list should be selected by default, so that I can open it with the enter key after searching.

[2020-04-23 04:46] liuhao-startmenu commented on #84
应用列表不支持选定态

[2020-04-26 02:45] sunshine-lcc opened #85 "Applications icons"
Some of the applications which are installed without rebooting, their icons are unexpected. It could normalize by rebooting the computer

[2020-05-09 02:36] Liang-zy commented on #82
The 20200508 version passed the test

[2020-05-09 02:36] #82 closed, assigned to Z-bin, liuhao-startmenu

[2020-05-09 02:38] Liang-zy commented on #81
The 20200508 version passed the test

[2020-05-09 02:38] #81 closed, assigned to liuhao-startmenu

[2020-05-09 02:42] Liang-zy commented on #76
The 20200508 version passed the test

[2020-05-09 02:42] #76 closed, assigned to liuhao-startmenu

[2020-05-11 03:32] CrossCC opened #87 "[suggestion] Add "Control Panel" entry to all software in the start menu"
Control Panel--Personalization--Desktop--The icon locked in the start menu, the lock of the setting button is not turned on, there is no direct entry to the control panel in the system, only by changing the wallpaper or adjusting the volume and other purposeful settings control panel.

[2020-05-16 06:26] ikeyhzj opened #89 "【4K】After the start menu is full screen, the right classification function is not displayed completely"

[2020-05-16 06:37] ikeyhzj opened #90 "【4K】The full screen shows a significant reduction in the number of mouse frames that slide between applications"

[2020-05-18 06:09] liumin0322 opened #91 "In full screen mode, the mouse hover animation does not disappear."
全屏模式下，鼠标悬浮的动画效果不会消失
![截图-2020年5月18日 14时2分11秒](https://user-images.githubusercontent.com/48200161/82179550-2efc4580-9911-11ea-8b3a-62cb9e1ecc83.png)

[2020-05-19 07:03] Liang-zy opened #92 "Start menu-function classification, application classification error"
![2020-05-19 14-57-04屏幕截图](https://user-images.githubusercontent.com/39893452/82295149-e496c980-99e1-11ea-80fc-12f71168c1c0.png)

[2020-05-19 07:19] Liang-zy opened #93 "Full screen start menu-Google Chrome icon changes"
![2020-05-19 15-17-29屏幕截图](https://user-images.githubusercontent.com/39893452/82296549-ea8daa00-99e3-11ea-958c-57eea66b1e18.png)

[2020-05-19 07:36] Liang-zy opened #94 "The number of software under the function classification is less than that of all software"
0514版本：在功能分类里面找微信，发现找不到，对比了一下个数，发现功能分类里的软件个数少于全部软件的个数

[2020-05-20 12:04] ikeyhzj opened #95 "Full screen mouse slides with abnormal grid"
Version: V10
Test environment: lenovo ZHAOXIN KaiTianS620Z-D410
![20200520_195800](https://user-images.githubusercontent.com/22652111/82444024-205e8b80-9ad5-11ea-9812-7a2384aa8e94.jpg)

[2020-05-22 09:05] liumin0322 opened #96 "There are a lot of duplicate applications in the start menu"
开始菜单中存在很多重复的应用

[2020-05-23 07:05] Liang-zy commented on #52
20200521 test passed

[2020-05-23 07:05] #52 closed, assigned to hepuyao, liuhao-startmenu

[2020-05-23 08:59] Liang-zy commented on #57
20200521 test passed

[2020-05-23 08:59] #57 closed, assigned to liuhao-startmenu

[2020-05-24 06:15] handsome-feng commented on #84
这个请设计介入下，其他桌面环境的开始菜单都是支持这个功能的

[2020-05-24 06:18] handsome-feng commented on #45
未复现

[2020-05-24 06:18] #45 closed, assigned to liuhao-startmenu

[2020-05-25 03:49] ikeyhzj commented on #87
Once the control panel is closed at its fixed location in the start menu, normal users cannot find the control panel

[2020-05-25 13:06] ikeyhzj opened #98 "Right shortcut menu: file manager and recycle bin icon display exception"

[2020-05-26 12:33] ikeyhzj opened #99 "Right click on the start menu and the shutdown button icon disappears"

[2020-05-29 06:06] Liang-zy commented on #87
20200528 test passed

[2020-05-29 06:06] #87 closed, assigned to nobody

[2020-05-29 06:08] Liang-zy commented on #92
2020 0528 test passed

[2020-05-29 06:08] #92 closed, assigned to nobody

[2020-05-29 09:44] liumin0322 opened #100 "memory leak"
![2020-05-29 17-42-52屏幕截图](https://user-images.githubusercontent.com/48200161/83245925-00655100-a1d4-11ea-94b8-634c3c24d312.png)

[2020-06-01 02:34] ikeyhzj opened #101 "Restart or logout: long time to open the start menu for the first time (nearly one minute)"

[2020-06-01 02:38] ikeyhzj opened #102 "Fixed to the taskbar feign death"

[2020-06-01 02:40] ikeyhzj opened #103 "Start menu sliders are very catchy"

[2020-06-01 02:41] ikeyhzj commented on #103
开始菜单滑动卡顿

[2020-06-01 07:47] CrossCC opened #104 "Power menu location is not fixed"
The location of the option menu of the power supply is random, not fixed, and it is repeated with the location of the start menu.
![开始菜单1](https://user-images.githubusercontent.com/33095911/83387330-1c106780-a41f-11ea-9c76-257690413c6c.png)
![开始菜单2](https://user-images.githubusercontent.com/33095911/83387360-292d5680-a41f-11ea-9bbf-de94fc2c9f27.png)

电源的选项菜单位置随机，不固定，并且和开始菜单位置重复

[2020-06-01 08:02] CrossCC opened #105 "The icons in the power menu are not obvious"
Start menu, the icon in the power options list is black by default, and the display is not obvious
![开始菜单1](https://user-images.githubusercontent.com/33095911/83388610-50852300-a421-11ea-917c-0a8596a529b3.png)

[2020-06-01 08:03] CrossCC commented on #105
开始菜单，电源选项列表中的图标默认为黑色，显示不明显

[2020-06-03 05:35] Liang-zy opened #106 "After modifying the font, some words in the full-screen start menu are incomplete"
![image](https://user-images.githubusercontent.com/39893452/83599506-eb573c00-a59e-11ea-8c24-9fbe31b1c68e.png)

[2020-06-05 03:30] Liang-zy opened #107 "[customer feedback]Click the menu icon in the lower left corner, After the menu pops up, wait a few seconds To scroll up and down the software list"

[2020-06-05 05:56] CrossCC opened #108 "The mouse pointer slides from the start menu to the start menu button, the start menu will automatically slide down an application"
Version：20.04LTS
ISO：ubuntukylin-20.04-0604-amd64.iso
Test environment：Lenovo ThinkPad-X1-Yoga、Lenovo Thinkpad-T430i

Test steps:
1. Click the start menu button, the mouse slides from the button to the start menu, the start menu list will automatically slide down an application
2. From the start menu to the start menu button, the list will also slide down an application.

测试步骤：
1、点击开始菜单按钮，鼠标从按钮处滑到

[2020-06-11 04:11] liuxiran opened #109 "[Suggestion]when focus on search input, press [Enter]button should not switch full-screen status"
Version：20.04LTS
ISO：ubuntukylin-20.04-0604-amd64.iso
Test environment：Lenovo Thinkpad-T490

Test steps:
open menu, focus search input, press [Enter]button

Expected：
only show search result，should not switch full screen status

Actually：
show search reasult, switch full screen status as while.

[2020-06-12 08:44] ikeyhzj commented on #102
http://192.168.6.179/zentao/bug-view-4179.html

[2020-06-12 08:44] #102 closed, assigned to nobody

[2020-06-12 08:47] ikeyhzj commented on #99
http://192.168.6.179/zentao/bug-view-4168.html

[2020-06-12 08:47] #99 closed, assigned to nobody

[2020-06-15 07:16] liumin0322 commented on #13
20200615 version test failed

[2020-06-15 08:26] Liang-zy opened #112 "Right-click start menu in task bar, no icon for shutdown option"
![image](https://user-images.githubusercontent.com/39893452/84634800-ec845380-af24-11ea-903a-ffdca7cd5f9a.png)

[2020-06-15 10:02] ikeyhzj commented on #103
http://172.17.66.192/biz/bug-view-12722.html

[2020-06-15 10:02] #103 closed, assigned to nobody

[2020-06-15 14:09] liuhao-startmenu commented on #18
支持首字母搜索

[2020-06-16 01:48] liumin0322 commented on #13
20200615 version test failed

[2020-06-20 06:01] liuhao-startmenu commented on #17
@Yue-Lan

[2020-06-22 03:02] Liang-zy commented on #112
20200618 test passed

[2020-06-22 03:02] #112 closed, assigned to nobody

[2020-06-22 03:04] Liang-zy commented on #108
20200618 test passed

[2020-06-22 03:04] #108 closed, assigned to nobody

[2020-06-22 03:07] Liang-zy commented on #107
20200618 test passed

[2020-06-22 03:07] #107 closed, assigned to nobody

[2020-06-22 03:08] Liang-zy commented on #105
20200618 test passed

[2020-06-22 03:08] #105 closed, assigned to nobody

[2020-06-22 03:20] Liang-zy commented on #93
20200618 test  faild ： The Google Chrome icon is still different in full screen mode and by default

[2020-06-22 03:22] Liang-zy commented on #94
20200618 test  faild： The number of software in all software and function categories is still inconsistent

[2020-06-22 03:27] Liang-zy commented on #90
20200618 test passed

[2020-06-22 03:27] #90 closed, assigned to nobody

[2020-06-22 03:28] Liang-zy commented on #89
20200618  test passed

[2020-06-22 03:28] #89 closed, assigned to nobody

[2020-06-22 03:40] Liang-zy commented on #79
20200618 test passed

[2020-06-22 03:40] #79 closed, assigned to nobody

[2020-06-22 05:32] Liang-zy commented on #43
20200618 test passed

[2020-06-22 05:32] #43 closed, assigned to liuhao-startmenu

[2020-06-22 05:35] Liang-zy commented on #21
20200618 test passed  :  This feature is currently canceled

[2020-06-22 05:35] #21 closed, assigned to nobody

[2020-06-22 05:37] Liang-zy commented on #18
20200618 test passed

[2020-06-22 05:37] #18 closed, assigned to liuhao-startmenu

[2020-06-22 05:41] Liang-zy commented on #13
20200618 test   faild

[2020-06-22 06:00] Liang-zy commented on #85
20200618 test passed

[2020-06-22 06:00] #85 closed, assigned to nobody

[2020-06-22 06:00] Liang-zy commented on #83
20200618 test passed

[2020-06-22 06:00] #83 closed, assigned to liuhao-startmenu

[2020-06-22 09:40] Liang-zy opened #113 "Start menu, right-click software-uninstall, click no response, can not open the Kirin software store"

[2020-06-25 20:40] oltulu opened #114 "Ukui Menu not start"
$ ukui-panel
 (0x7ffc93cf6f90) Warning: "Icon Theme not set. Fallbacking to Oxygen, if installed"
 (0x7ffc93cf6f90) Warning: "Fallback Icon Theme (Oxygen) not found"
 (0x7ffc93cf6f90) Debug: configFile is :  ""
 (0x7ffc93cf6f90) Debug: configFile.is not Empty

 (0x7ffc93cf6f90) Debug: desktopDirs  =   ("/home/aylinux/.local/share//ukui/ukui-panel", "/usr/share/ukui/ukui-panel")

 (0x7ffc93cf6f90)

[2020-06-25 20:43] oltulu commented on #114
https://i.hizliresim.com/ORWD60.png

[2020-06-25 20:46] oltulu commented on #114
https://hizliresim.com/dzefKj

[2020-06-28 07:26] hepuyao commented on #114
I see "Debug: XdgDesktopFile "/usr/share/applications/wps-office-wps.desktop" is not valid".
What's wrong with your wps ?   Can it click to open？

[2020-06-28 13:11] oltulu commented on #114
WPS Office not installed

[2020-06-30 07:36] arcolinuxz opened #115 "Do not show icons/applications in the menu"
Distro : ArcoLinux (based on Arch Linux)

The menu sometimes contains applications that will never work or you do not want to show them to the end-user.
In /usr/share/applications/ukui-control-center.desktop there is an example.
This is the important line to hide the application in the .desktop file.

`NoDisplay=true`

When I try to do the same with other applications in /usr/share/applications (f

[2020-06-30 10:44] liuhao-startmenu commented on #115
Just set NoDisplay to true. If the application is still displayed, please update the menu to the latest version and try again.

[2020-06-30 10:58] liuhao-startmenu commented on #114
Can you see the menu pop up when you execute the ukui-menu command?

[2020-06-30 11:03] liuhao-startmenu commented on #13
vim没有安装

[2020-06-30 15:18] oltulu commented on #114
The menu does not open when I run the Ukui-menu command

[2020-07-01 10:02] oltulu commented on #114
I prepared a distribution using the Arch Linux based UKUI desktop. But ukui-menu does not work. Can you help with this. I couldn't find the reason

[2020-07-01 11:47] liuhao-startmenu commented on #114
Check if there is process information for ukui-menu by executing "ps -axu | grep ukui-menu" command.

[2020-07-01 13:49] oltulu commented on #114
[aylinux@aylinux ~]$ ps -axu | grep ukui-menu
aylinux      812  0.4  0.4 459452 33684 ?        Sl   16:42   0:00 /usr/bin/ukui-menu
aylinux     1949  0.0  0.0   6172  2328 pts/0    S+   16:44   0:00 grep ukui-menu
[aylinux@aylinux ~]$

[2020-07-02 01:25] Liang-zy commented on #13
我没有安装-那开始菜单应该没有，为什么会有？

[2020-07-02 03:02] liuhao-startmenu commented on #13
vim-common提供vim.desktop文件

[2020-07-02 03:17] handsome-feng commented on #114
It's strange, can you provide the iso you made so that we can test locally?

[2020-07-02 12:30] oltulu commented on #114
Aylinux-Ukui iso:  https://dosyayukle.biz/7004e37f95afdf5d

[2020-07-03 10:08] oltulu opened #119 "Uninstall the program does not work on Arch Linux"
if debian based
apt-get remove .....
if arch based
pacman -R --noconfirm ......

[2020-07-06 01:02] oltulu commented on #114
I recompiled all the packages. Ukui-Menu worked

[2020-07-06 01:03] #114 closed, assigned to nobody

[2020-07-06 02:43] liuhao-startmenu commented on #119
Please update ubuntu-kylin-software-center

[2020-07-06 09:18] oltulu commented on #119
Does ubuntu-kylin-software-center work on arch_linux?

[2020-07-08 01:52] handsome-feng commented on #119
ubuntu-kylin-software-center doesn't work on Arch, I think the ukui-menu should make a judgement to either not show the uninstall option, or call some other interface on Arch

[2020-07-13 06:49] Liang-zy opened #123 "Tooltips tooltip style is wrong (default mode, right side bar)"
tooltips提示框样式不对（默认模式，右侧栏）

[2020-07-13 08:41] Liang-zy opened #124 "* The function classification is wrong; * Some applications appear repeatedly in different categories; for example: remmina appears in the two categories of "network" and "system" * The name is not all Chinese culture;"
* 功能分类有误；
* 部分应用有重复出现在不同分类里；例如：remmina出现在"网络"和"系统"两个分类里
* 名字没有全部中文化；

[2020-07-13 08:42] Liang-zy opened #125 "Some apps installed by default have English names;"
默认安装的某些应用是英文名称；

[2020-07-13 08:43] Liang-zy opened #126 "Some newly installed application icons cannot be displayed in real time, and need to be logged out to display normally;"
部分新装应用图标不能实时显示，需要注销后才能正常显示；

[2020-07-13 08:46] Liang-zy opened #127 "Click the blank area to exit the start menu;"
点击空白区域退出开始菜单；

[2020-07-13 08:48] Liang-zy opened #128 "Shortcut menu background frame without frosted glass effect"
右键菜单背景框无毛玻璃效果；（是否统一主题，还是开始菜单、任务栏的样式与系统主题分离开？）

[2020-07-13 08:50] Liang-zy opened #129 "All application interfaces: the position of the application icon alternates with the other two categories, with a displacement of 1px"
所有应用界面：应用图标位置和其他两个分类不一致，有1px的位移

[2020-07-13 08:52] Liang-zy opened #130 "The hierarchical relationship of face-to-face version classification is not reflected, and the difference from Windows is small, consider optimization"
改版计划：当面版本分类层级关系没有体现，且跟Windows的区别较小，考虑优化

[2020-07-17 08:24] liumin0322 commented on #13
20200717 test passed

[2020-07-17 08:24] #13 closed, assigned to liuhao-startmenu

[2020-07-17 08:24] liumin0322 commented on #17
20200717 test passed

[2020-07-17 08:24] #17 closed, assigned to liuhao-startmenu

[2020-07-17 08:26] liumin0322 commented on #113
20200717 test passed

[2020-07-17 08:26] #113 closed, assigned to nobody

[2020-07-17 08:53] #95 closed, assigned to nobody

[2020-07-17 08:54] #98 closed, assigned to nobody

[2020-07-17 08:55] #101 closed, assigned to nobody

[2020-07-20 07:37] Liang-zy opened #132 "Normal use, abnormal start menu"
![image](https://user-images.githubusercontent.com/39893452/87910080-ff49f500-ca9b-11ea-9a43-d3bfa1f7049c.png)
![image](https://user-images.githubusercontent.com/39893452/87911826-d5460200-ca9e-11ea-8789-148927254b08.png)

[2020-07-28 01:07] Liang-zy opened #135 "In the start menu, only one letter can be entered in the search box and cannot be deleted. You cannot add letters after entering letters. Delay about 30 seconds"

[2020-07-28 08:41] LinKuiyi opened #136 "[Search Box] If there is no match result. Click the blank menu, no reaction."
Should it return to the main menu?
I have to delete the whole word to return.

![Screenshot from 2020-07-27 15-42-36](https://user-images.githubusercontent.com/67617181/88640890-0ce12980-d0f1-11ea-86ac-43e05645c2e3.png)

[2020-08-07 07:01] liuhao-startmenu commented on #135
无法复现

[2020-08-07 07:02] liuhao-startmenu commented on #132
主题框架影响

[2020-08-09 03:18] sunshine-lcc opened #137 "Add shortcut to desktop"
When there is already a shortcut, right click the entry in the launcher, it still shows that "Add short to desktop" instead of "remove shortcut from desktop"

[2020-08-11 08:13] Liang-zy commented on #128
20.04.1 test passed

[2020-08-11 08:13] #128 closed, assigned to nobody

[2020-08-19 02:47] Liang-zy commented on #129
test passed

[2020-08-19 02:47] #129 closed, assigned to nobody

[2020-08-24 06:50] liumin0322 commented on #126
20200818 test passed

[2020-08-24 06:50] #126 closed, assigned to nobody

[2022-05-28 10:31] rocket049 opened #145 "22.04版的问题：点击应用程序后，菜单不马上关闭，容易导致多次重复点击同一程序"
22.04版的问题：点击应用程序后，菜单应该马上关闭，否则用户以为菜单卡住了，会反复点击同意程序。

[2022-06-06 07:30] peijiankang opened #146 "快捷键Win打开ukui-menu,键盘输入内容不能聚焦到搜索框"
3.0.2版本是可以聚焦到搜索框，3.0.3版本聚焦不了
版本：tags3.0.3版本

复现步骤：1.安装ukui-menu 3.0.3版本
                   2.点击键盘Win键
                    3.桌面聚焦到应用，不在搜索框，在3.0.2版本上聚焦到搜索框上